[submodule "RIOT"]
	path = RIOT
	url = https://github.com/SzymonKubica/RIOT
[submodule "rbpf-for-microcontrollers"]
	path = vm
	url = https://github.com/SzymonKubica/rbpf-for-microcontrollers
[submodule "tools"]
	path = tools
	url = https://github.com/SzymonKubica/mibpf-tools
