aiocoap==0.4.7
cbor2==5.5.1
cffi==1.16.0
contourpy==1.2.0
cryptography==41.0.7
cycler==0.12.1
fonttools==4.47.2
greenlet==3.0.3
kiwisolver==1.4.5
LinkHeader==0.4.3
matplotlib==3.8.2
msgpack==1.0.7
numpy==1.26.3
packaging==23.2
pillow==10.2.0
progress==1.6
pycparser==2.21
pyelftools==0.30
pynvim==0.5.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyserial==3.5
python-dateutil==2.8.2
six==1.16.0
stm32loader==0.7.1
